// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$charcoal-black: #212529;
$light-grey: #D4CACA;
$afrost-green: #1FDB84;
$afrost-blue: #4376B5;
$black: #000;
$white: #fff;
$base-font: 14px;
$base-font-family: 'Roboto',
sans-serif;

$button-radius: 10px;
$line-height: 2;

$box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);


.btn {
  background-color: $afrost-green;
  line-height: 3;
  border-radius: $button-radius;
  color: $charcoal-black;
  width: 220px;
}

.af-flex {
  display: flex;
}

.af-column {
  flex-direction: column;
}

.af-flex-wrap {
  flex-wrap: wrap;
}

.img-fluid {
  max-width: 90%;
  height: auto;
}

.text-center {
  text-align: center;
}

.af-space-evenly {
  justify-content: space-evenly;
}

.afrost-blue {
  color: $afrost-blue
}


.afrost-black {
  color: $charcoal-black;
}

.mt-5 {
  margin-top: 5px;
}

.m-auto {
  margin: auto;
}
